:root {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    --header-bg-color: #958F81;
    --header-font-color: white;

    --nav-bg-color: #A58162;
    --nav-border-color: #9A6844;
    --nav-hover-border-color: purple;
    --nav-font-color: white;

    --card-bg-color: rgba(166, 130, 100, 0.9);
    --card-home-bg-color: rgba(152, 133, 103, 0);
    --card-border-color: #9A6844;
    --card-font-color: white;
    --body-bg-color: black;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--body-bg-color);
}

header {
    height: 150px;
    width: 100%;
    background-color: var(--header-bg-color);
    display: flex;
    overflow: visible;
}

h1 {
    margin: auto 0;
    padding: 0.5rem 0;
    width: 50%;
    /*font-size: 3rem;*/
    text-align: center;
    color: var(--header-font-color);
}

nav {
    height: 220px;
    width: 220px;
    margin: 25px auto;
    padding: 30px 0 0 30px;
    border-radius: 100%;
    display: grid;
    grid-template-columns: repeat(2, 90px);
    grid-template-rows: repeat(2, 90px);
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    background-color: var(--header-bg-color);
}

a {
    margin: 0;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--nav-font-color);
    background-color: var(--nav-bg-color);
}

a:nth-child(1) {
    border-radius: 100% 0 0 0;
    border-top: solid 4px var(--nav-border-color);
    border-left: solid 4px var(--nav-border-color);
    text-align: right;
    line-height: 110px;
}

a:nth-child(1):hover,
a:nth-child(1).active {
    border-right: solid 4px var(--nav-hover-border-color);
    border-bottom: solid 4px var(--nav-hover-border-color);
}

a:nth-child(2) {
    border-radius: 0 100% 0 0;
    border-top: solid 4px var(--nav-border-color);
    border-right: solid 4px var(--nav-border-color);
    text-align: left;
    line-height: 110px;
}

a:nth-child(2):hover,
a:nth-child(2).active {
    border-left: solid 4px var(--nav-hover-border-color);
    border-bottom: solid 4px var(--nav-hover-border-color);
}

a:nth-child(3) {
    border-radius: 0 0 0 100%;
    border-bottom: solid 4px var(--nav-border-color);
    border-left: solid 4px var(--nav-border-color);
    text-align: right;
}

a:nth-child(3):hover,
a:nth-child(3).active {
    border-right: solid 4px var(--nav-hover-border-color);
    border-top: solid 4px var(--nav-hover-border-color);
}

a:nth-child(4) {
    border-radius: 0 0 100% 0;
    border-bottom: solid 4px var(--nav-border-color);
    border-right: solid 4px var(--nav-border-color);
    text-align: left;
}

a:nth-child(4):hover,
a:nth-child(4).active {
    border-left: solid 4px var(--nav-hover-border-color);
    border-top: solid 4px var(--nav-hover-border-color);
}

main {
    min-height: calc(100vh - 400px);
    width: 100%;
    padding-top: 150px;
    background-image: url(./pie-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: scroll;
}

main div {
    min-height: 300px;
    width: 75%;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    /*box-shadow: 0 0 0.5rem white;*/
    border-left: 8px solid var(--card-border-color);
    /*
    border-top: 8px solid var(--card-border-color);
    border-right: 8px solid var(--nav-hover-border-color);
    border-bottom: 8px solid var(--nav-hover-border-color);
    */
    background-color: var(--card-bg-color);
    color: var(--nav-font-color);
}

main.home div {
    background-color: var(--card-home-bg-color);
    border: none;
    text-align: center;
}

footer {
    height: 100px;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
}

address,
footer div {
    text-align: center;
}