:root {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    --header-bg-color: #677A98;
    --header-font-color: white;
    --nav-bg-color: #677A98;
    --nav-hover-bg-color: rgb(152, 133, 103);
    --nav-active-bg-color: #988567;
    --nav-active-font-color: white;
    --card-bg-color: rgba(152, 133, 103, 0.8);
    --body-bg-color: black;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-bg-color);
}

header {
    height: 200px;
    width: 100%;
    background-color: var(--header-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0.5rem 0;
    /*font-size: 3rem;*/
    text-align: center;
    color: var(--header-font-color);
}

nav {
    width: 75%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

button {
    margin: 0;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 4px solid var(--nav-active-bg-color);
    color: var(--header-font-color);
    background-color: var(--nav-bg-color);
}

button:hover {
    border-bottom: 4px solid var(--nav-hover-bg-color);
    color: var(--nav-active-font-color);
    background-color: var(--nav-hover-bg-color);
}

button.active {
    color: var(--nav-active-font-color);
    background-color: var(--nav-active-bg-color);
}

main {
    height: calc(100vh - 300px);
    width: 100%;
    overflow: scroll;
    background-image: url(./pie-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main div {
    height: 300px;
    width: 75%;
    max-width: 800px;
    margin: 3rem auto;
    padding: 2rem;
    /*box-shadow: 0 0 0.5rem white;*/
    border-left: 8px solid var(--header-font-color);
    background-color: var(--card-bg-color);
    color: var(--nav-active-font-color);
}

footer {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
}

address,
footer div {
    text-align: center;
}