:root {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    --header-bg-color: #677A98;
    --header-font-color: white;
    --nav-bg-color: #988567;
    --nav-hover-bg-color: purple;
    --nav-active-bg-color: #988567;
    --nav-active-font-color: white;
    --card-bg-color: rgba(152, 133, 103, 0.9);
    --card-home-bg-color: rgba(152, 133, 103, 0);
    --body-bg-color: black;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    background-color: var(--body-bg-color);
}

header {
    height: 150px;
    width: 100%;
    background-color: var(--header-bg-color);
    display: flex;

    overflow: visible;
}

h1 {
    margin: auto 0;
    padding: 0.5rem 0;
    width: 50%;
    /*font-size: 3rem;*/
    text-align: center;
    color: var(--header-font-color);
}

nav {
    height: 220px;
    width: 220px;
    margin: 25px auto;
    padding: 30px 0 0 30px;
    border-radius: 100%;
    display: grid;
    grid-template-columns: repeat(2, 90px);
    grid-template-rows: repeat(2, 90px);
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    background-color: var(--header-bg-color);
}

a {
    margin: 0;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--header-font-color);
    background-color: var(--nav-bg-color);
}

a:nth-child(1) {
    border-radius: 100% 0 0 0;
    text-align: right;
    line-height: 120px;
}

a:nth-child(2) {
    border-radius: 0 100% 0 0;
    text-align: left;
    line-height: 120px;
}

a:nth-child(3) {
    border-radius: 0 0 0 100%;
    text-align: right;
}

a:nth-child(4) {
    border-radius: 0 0 100% 0;
    text-align: left;
}

/* add color to when the nav slice hovers like a pie slice lifting up */

a:hover,
a:active {
    color: var(--nav-active-font-color);
    background-color: var(--nav-bg-color);
    border-right: 4px purple;
    border-bottom: 4px purple;
}

main {
    height: calc(100vh - 400px);
    width: 100%;
    padding-top: 150px;
    background-image: url(./pie-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main div {
    height: 300px;
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    /*box-shadow: 0 0 0.5rem white;*/
    border-left: 8px solid var(--header-font-color);
    background-color: var(--card-bg-color);
    color: var(--nav-active-font-color);
}

main.home div {
    background-color: var(--card-home-bg-color);
    border: none;
    text-align: center;
}

footer {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
}

address,
footer div {
    text-align: center;
}